{% extends 'base.html' %}
{% block content %}

<h1>Book Details</h1>

<div class="card">
    <div class="card-content">
      <span class="card-title">{{ book.name }}</span>
      <p>author: {{ book.author }}</p>
      <p>Description: {{ book.description|linebreaks }}</p>
      <p>year: {{ book.year }}</p>
    </div>
    <div class="card-action">
      <a href="{% url 'books_update' book.id %}">Edit</a>
      <a href="{% url 'books_delete' book.id %}">Delete</a>
    </div>
</div>

{% endblock %}
